<div class="easyhtml5video" id="video-background">
	<video autoplay="autoplay" title="" loop="loop" onended="var v=this;setTimeout(function(){v.play()},300)">
		<source src="<%= asset_path 'hero.m4v'%>" type="video/mp4" />
		<source src="<%= asset_path 'hero.webm'%>" type="video/webm" />
		<object type="application/x-shockwave-flash" data="<%= asset_path 'flashfox.swf'%>" style="position:relative;">
			<param name="movie" value="index.files/html5video/flashfox.swf" />
			<param name="allowFullScreen" value="true" />
			<param name="flashVars" value="autoplay=true&amp;controls=false&amp;fullScreenEnabled=true&amp;posterOnEnd=true&amp;loop=true&amp;poster=<%= asset_path 'hero.jpg'%>&amp;src=hero.m4v" />
			 <embed src="<%= asset_path 'flashfox.swf'%>" style="position:relative;"  flashVars="autoplay=true&amp;controls=false&amp;fullScreenEnabled=true&amp;posterOnEnd=true&amp;loop=true&amp;poster=index.files/html5video/hero.jpg&amp;src=hero.m4v"	allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
			<img alt="hero" src="<%= asset_path 'hero.jpg'%>" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser" />
		</object>
	</video>
	<div class="video-cover"></div>
</div>
<div id="image-hero">

</div>





<section class="intro">
		<h1>Renaissance重生</h1>
		<h2>2015 TEDxNTNE 年會</h2>
	<div class="row">
		<p class="small-12 medium-10 large-10 small-centered columns">Ri- 重新 –nascere 出生，有重生的意味，文藝復興最重要的精神便是人文主義。<br>
		以人為本，專注於當下的自我，期許人們有獨立思考的精神，鼓勵對習以為常的事物提出質疑與批判。</p>
	    <a href="#" class="small-8 medium-4 large-3 small-centered columns">報名年會</a>
	</div>
</section>


<section class="event-info-outter">
	<div class="event-info-inner">
		<div class="row">
			<div class="small-12 medium-9 large-8 medium-centered columns info-box">
				<h3>年會資訊</h3>
				<p class="event-field">日期：2015/05/03（日）</p>
				<p class="event-field">時間：12:30 入場，13:00 開始</p>
				<p class="event-field">地點：<a href="#">國立臺北教育大學 創意館 3F 雨賢廳</a></p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-9 large-8 medium-centered columns schedule-box">
				<h3>年會議程</h3>	
				<div class="event-field">
					<p class="schedule-time">13:00 ～ 13:20 表演、開場</p>
					<p class="schedule-person">主持人：王大明</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">13:20 ～ 14:30  演講</p>
					<p class="schedule-person">主持人：王大明</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">14:30 ～ 14:50  中場休息</p>
					<p class="schedule-person">主持人：王大明</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">14:50 ～ 15:50  演講</p>
					<p class="schedule-person">主持人：王大明</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">15:50 ～ 16:10  中場休息</p>
					<p class="schedule-person">主持人：王大明</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">16:10 ～ 17:10  演講</p>
					<p class="schedule-person">主持人：王大明</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">17:10 ～ 17:20  閉幕</p>
					<p class="schedule-person">主持人：王大明</p>
				</div>
				<div class="event-field">
					<p class="schedule-time">17:20 ～ 18:20  會後交流</p>
					<p class="schedule-person">主持人：王大明</p>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="speakers">
	<h2>講者介紹</h2>	
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns speaker-box">
			<div class="row">
				<div class="small-10 small-centered medium-4 medium-uncentered large-4 columns">
					<div class="speaker-thumbnail"></div>
				</div>
				<div class="small-10 small-centered medium-8 medium-uncentered large-8 columns">
					<h3 class="speaker-name">陳文偉</h3>
					<p class="speaker-des">文創是什麼？你想到的是松菸還是華山？
					但文偉認為文創不該是產值與美麗的包裝
					而是生活中的感動與歸屬感!
					因此他立志成為「悲傷品牌的第一把交椅」!!! 
					試圖撫慰人們內心深處需要被安撫的寂寞。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns speaker-box">
			<div class="row">
				<div class="small-10 small-centered medium-4 medium-uncentered large-4 columns">
					<div class="speaker-thumbnail"></div>
				</div>
				<div class="small-10 small-centered medium-8 medium-uncentered large-8 columns">
					<h3 class="speaker-name">金克杰</h3>
					<p class="speaker-des">世界各地有一群人，用所知的技術，加上「實作」與「熱血」，創造屬於他們理想中的機器人。他們被稱為「Makers」，也叫作「創客」。他是Maker 金克杰， 就讀國立台北教育大學玩具與遊戲設計研究所，以雙手追逐製造機器人的夢想。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns speaker-box">
			<div class="row">
				<div class="small-10 small-centered medium-4 medium-uncentered large-4 columns">
					<div class="speaker-thumbnail"></div>
				</div>
				<div class="small-10 small-centered medium-8 medium-uncentered large-8 columns">
					<h3 class="speaker-name">袁齊笙</h3>
					<p class="speaker-des">國立臺北教育大學特殊教育學系二年級學生。現任國立臺北教育大學學生議會議長、全心策略訓練中心課程講師，亦為國立臺北教育大學第二十一屆學生會會長參選人。曾經擔任NLP(Neuro-Linguistic Programing，神經語言程式學)系列演講講師、並於NLP心理學相關課程擔任教學工作。目前的他正不斷的挑戰自我，努力生活，充實眼前的每分每秒，學習分享、傾聽與觀察。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 large-8 medium-centered columns speaker-box">
			<div class="row">
				<div class="small-10 small-centered medium-4 medium-uncentered large-4 columns">
					<div class="speaker-thumbnail"></div>
				</div>
				<div class="small-10 small-centered medium-8 medium-uncentered large-8 columns">
					<h3 class="speaker-name">海苔熊</h3>
					<p class="speaker-des">台大心理系碩士，現為30雜誌及許多網路媒體專欄作家，喜歡大家叫他海苔熊，一種結合可口與可愛的動物。他運用心理學解釋生活中各式各樣的事件，並透過文章分享自己的心得想法與閱讀整理，讓生硬的學科充滿生命力。</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="image-fix">
	<div class="image-cover"></div>
</section>


<section class="go-now">
	<div class="row">
		<h2>現在就報名2015 TEDxNCHU年會！</h2>
		<a href="https://tedntue.aotter.net/" class="small-8 medium-4 large-3 small-centered columns">報名年會</a>
	</div>
</section>

<script>
// $(document).ready(function(){
//     $('.slider').slick({
//       dots: false,
//       infinite: true,
//       speed: 300,
//       arrows: false,
//       autoplay: true,
//       autoplaySpeed: 3000,
//     });
// });

</script>