<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-Type" content="text/html; charset=big5">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7">
	<meta name="title" content="TEDxNTUE">
	<meta name="KeyWords" content="TED,TEDx,TEDxNTUE,中興大學">
	<meta name="description" content="TEDxNTUE">
	<meta name="Author" content="Fontech Web Team">
	<link rev="made" href="mailto:tough@fontech.com.tw">
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<meta property="og:title" content="TEDxNTUE">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.TEDxNTUE.tw">
	<meta property="og:image" content="http://www.TEDxNTUE.tw/assets/public/facebook_show.jpg">
	<meta property="og:site_name" content="TEDxNTUE">
	<meta property="og:description" content="TEDxNTUE">
	<link rel="shortcut icon" href="http://www.fontech.com.tw/assets/public/favicon.png" type="image/png" />
	<link rel="Bookmark" href="http://www.fontech.com.tw/assets/public/favicon.png" type="image/png" />
	<link rel="icon" href="http://www.fontech.com.tw/assets/public/favicon.png" type="image/png" />
	<link rel="image_src" type="image/jpeg" href="http://www.fontech.com.tw/assets/public/facebook_show.jpg" />
	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>TEDxNTUE</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<a class="toggle-menu-trigger"></a>

<nav class="toggle-menu">
  	<div>
		<a href="<%= root_path %>">Renaissance重生</a>
		<a href="<%= activity_path %>">系列活動</a>
		<a href="<%= about_path %>">關於TEDx</a>
		<a href="<%= team_path %>">關於我們</a>
		<a href="https://medium.com/@TEDxNTUE" target="_blank">活動專欄</a>
		<a href="<%= contact_path %>">聯絡我們</a>
	</div>
</nav>

<header>
	<!-- <a href="<%= root_path %>" class="logo"><h1>TEDxNTUE</h1></a> -->
	<nav class="normal-nav">
		<a href="<%= root_path %>" class="logo"><h1>TEDxNTUE</h1></a>
		<ul class="navbar">
			<li><a href="<%= root_path %>">2015年會</a></li>
			<li><a href="<%= activity_path %>">系列活動</a></li>
			<li><a href="<%= about_path %>">關於TEDx</a></li>
			<li><a href="<%= team_path %>">關於我們</a></li>
			<li><a href="https://medium.com/@TEDxNTUE" target="_blank">活動專欄</a></li>
			<li><a href="<%= contact_path %>">聯絡我們</a></li>
		</ul>
		<a href="https://www.facebook.com/tedxNTUE?fref=ts" class="fb-share"></a>
	</nav>
</header>
<%= yield %>
<footer>
	<div class="row">
		<p class="small-12 medium-8 large-8 columns">This independent TEDx event is operated under license from TED.</p>
		<div class="small-12 medium-4 large-4 columns">
			<div class="logo"><h1>TEDxNTUE</h1></div>
		</div>
	</div>
</footer>
</div>
</body>
<script>

	(function($){
  
  var btn = $( '.toggle-menu-trigger' );
  var menu = $( '.toggle-menu' );
  
  btn.click(function(){
    $( this ).toggleClass( 'on' );
    menu.toggleClass( 'on' );
  });
  
})(jQuery);
$(document).scroll(function(){
   var scrollNavbar = 88 ;
   var height = $(document).scrollTop();
   if (height >= scrollNavbar) {
       $("nav").addClass("scrollNav");
   } 
   if (height < scrollNavbar) {
       $("nav").removeClass("scrollNav");
   }
});
</script>
</html>

